<div id="<%= dom_id post %>">
  <ul role="list" class="divide-y divide-gray-100">
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-lg font-semibold text-gray-900"><%= post.title %></p>
          <% if action_name.eql?('show') %>
            <p class="mt-1 truncate text-xs/5 text-gray-500"><%= post.content %></p>
          <% else%>
          <p class="mt-1 truncate text-xs/5 text-gray-500"><%= distance_of_time_in_words(Post.last.created_at, Time.current) %></p>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>